.home_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.home_wrap:before{
  content: '';
  background-color: #fede87;
  top: 0;
  left: 0;
  width: 30%;
  position: absolute;
  z-index: -7;
  height: 100%;
}
/**/
.home_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-end;
  overflow-y: auto;
  padding-bottom: 50px;
}

/*list-products*/
.home_list_products {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home_list_products_title {
  margin-bottom: 35px;
}
.home_list_products_title span {
  font-size: 3.4rem;
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 77px;
}


.home_list_products_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 325px 325px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.item_product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_product_img {
  position: relative;
  padding-bottom: 15px;
}

.item_product_img img {
  width: 200px;
  height: 200px;

}

.item_product_btn_Add {
  position: absolute;
  bottom: 8px;
  left: 80px;
}

.item_product_btn_Add button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fc7a67;
  color: #ffffff;
  font-size: 3rem;
}
.item_product_btn_Add button:focus{
  outline: none;
}

.item_product_price span {
  font-size: 1.4rem;
  font-weight: 400;
}
.item_product_price,.item_product_name, .item_product_description   {
 padding-bottom: 5px;
}

.item_product_name span {
  font-size: 2.6rem;
  font-weight: bold;
}

.item_product_description {
  font-size: 1rem;
  color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
