.close-container{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.leftright{
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color:  #F4A259;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}
.rightleft{
    height: 4px;
    width: 30px;
    position: absolute;
    margin-top: 24px;
    background-color:  #F4A259;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

label{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
}
.close{
    margin: 48px 0 0 -10px;
    position: absolute;
}

.close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #F25C66;
}
.close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #F25C66;
}
.close-container:hover label{
    opacity: 1;
}
