.header {
    width: 20%;
    min-height: 100vh;
    border-right: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 30px;
}
.header_container{
    display: flex;
    flex-direction: column;
}
.header a {
    color: #000;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    margin-bottom: 10px;
}
.header_title{
    height: 100px;
    margin-bottom: 20px;
}
.header_title h2{
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 5px;
}
.header_title span{
    font-size: 1.2rem;
    font-weight: bold;
    color: silver;
}
.header a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1100px) {
    .header{
        min-height: max-content;
        display: flex;
        width: 100%;
        border-bottom: 2px solid #000;
        flex-direction: row;
        justify-content: space-between;
        border-right: 0;
    }
    .header_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 75%;
    }
    .header a {
        font-size: 1.2rem;
    }
    .header_title{
        height: max-content;
        margin: 0;
    }
    .header_title h2{
        font-size: 1.4rem;
    }
    .header_title span{
        font-size: 1rem;
    }
}
@media screen and (max-width: 700px) {
    .header{
        height: max-content;
        display: flex;
    }
}
