.container{
    margin-left: 20px;
    width: 100%;
}
.products{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 15px 0;
}
.item_info{
    display: flex;
    align-items: center;

}
.item img{
    width: 50px;
    height: 50px;
}

.textInfo{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
