.registration_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.registration_form{
    box-shadow: 0 0 12px 0 #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}
.registration_form_header{
    font-size: 2rem;
    font-weight: 700;
}
.registration_form_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration_form_item{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.registration_form_item input{
    padding: 5px 10px;
}
.registration_form_item span{
    padding-top: 5px;
    font-size: 0.8rem;
}
.registration_form_btn button{
    background-color: #ffffff;
    color: black;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 5px;
    margin: 10px 0;
    border: 2px solid black;
    font-weight: bold;
}
.registration_form_btn button:hover{
    background-color: #000000;
    color: white;
    transition: 0.1s;
}
