.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form {
  box-shadow: 0 0 12px 0 #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.header h3 {
  font-size: 2rem;
  font-weight: 600;
}
.header-back{
  position: absolute;
  left: 0;
  top: 25%;
}
.header-back button{
  background-color: #ffffff;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}
.header-back button:active,.header-back button:focus {
  outline: none;
}
.header-back button svg{
  margin-right: 8px;
}


.container {
  display: flex;
  margin-top: 8px;
  padding-bottom: 15px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.form-item label {
  font-size: 1.4rem;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: capitalize;
}

.form-item input {
  line-height: 23px;
  border: 1px solid;
  padding: 5px 10px;
}

.order {
  margin-left: 15px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-order {
  display: flex;
  flex-direction: column;
}

.list-order h2{
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.list-order-product {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.product-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 12px 0 #d8d8d8;
  padding: 5px 15px 5px 8px;
}

.product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-content span {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
}

.product-count span {
  font-size: 1.2rem;
  position: relative;
  z-index: 0;
  color: #ffffff;
}

.product-count span:before {
  content: '';
  position: absolute;
  background-color: #fc7a67;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: -1;
  top: -3px;
  left: -7px;
}

.order-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-price span {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 5px;
}
.btn{
  padding-top: 15px;
  border-top: 1px solid;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button {
  width: 150px;
  background-color: #ffffff;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 5px;
  margin: 0 10px;
  border: 2px solid black;
  font-weight: bold;
}
.btn button:hover {
  background-color: #000000;
  color: white;
  transition: 0.1s;
}
