.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: max-content;
  background-color: #ffff;
  z-index: 99;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.form-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.form-header h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.btn-close {
  font-size: 1.2rem;
  padding: 4px 12px !important;
}

.form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin: 14px 10px;
  min-width: 184px;
}

.form-item label {
  font-size: 1.4rem;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: capitalize;
}

.form-item input {
  line-height: 23px;
  border: 1px solid;
  padding: 5px 10px;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.btn-submit {
  font-size: 1.6rem;
  text-transform: uppercase !important;
  padding: 4px 7px !important;
}
