/*Container Header*/
.container_header{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.container_header h3{
  font-size: 2.2rem;
}
.container_header_btn{
  height: 40px;
}
.btn{
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  .container{
    width: 100%;
    padding: 20px 30px 30px;
  }
  .container_header{
    margin-bottom: 50px;
  }
  .container_header h3{
    font-size: 1.6rem;
  }
  .container_header_btn{
    height: 40px;
  }
}
@media screen and (max-width: 700px) {

}
