.wrap{
  background-color: #ffffff;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  border-radius: 5px;
  margin: 0 10px;
  border: 2px solid black;
  font-weight: bold;
}

.wrap:hover {
  background-color: #000000;
  color: white;
  transition: 0.1s;
}

.wrap:active,.wrap:focus {
  outline: none;
}
