.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container{
  min-width:10px;
  min-height: 40px;
  padding: 30px 50px;
  box-shadow: 0 0 12px 0 #d8d8d8;
  position: relative;
}
.container h2{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.btn{
  top: 10px;
  left: 10px;
  position: absolute;
}
.btn button{
  font-size: 1rem!important;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h2{
  font-size: 2rem;
  font-weight: 700;
}
.title{
  font-size: 1.6rem;
  font-weight: 600;
  padding-right: 10px;
}
.order-number, .order-price{
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.order-list{
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.value{
  font-size: 1.6rem;
  font-weight: 500;
  color: #c3c3c3;
}
.products{
  display: flex;
  flex-wrap: wrap;
}
.product{
  display: flex;
  align-items: center;
  margin: 8px 5px;
  box-shadow: 0 0 12px 0 #d8d8d8;
  padding: 11px;
  width: max-content;
}

.product-title{
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 10px;
}
.product-value{
  font-size: 1.4rem;
  font-weight: 500;
  color: #c3c3c3;
}
